@import "global/colors.scss"


.student-profile-menu
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0px 40px
    .spin
        flex: auto
        height: 100%
        display: flex
        justify-content: center
        align-items: center
    .info
        background-color: #ffffff
        width: 60%
        margin-top: 20px
        height: 100px
        font-size: 18px
        padding: 20px
        border: 1px solid black
    .allCourses
        background: #ffffff
        max-width: 100%
        max-height: 450px
        margin-top: 40px
        margin-bottom: 80px
       
    .myCourses
        height: 100%
        display: flex
        width: 100%
        //margin: 20px 0px
       
        .tasks
            display: flex
            flex-direction: column
            align-items: center
            .tasks
                padding-top: 7%
                width: 100%
                .task
                    border: 0.5px solid black
                    padding: 15px
                    margin-bottom: 10px
                    span
                        span
                            margin-right: 5px
                            fontSize: 30px !important
                .collapse
                    width: 100%
                    margin: 5px
            .student
                border: 1px solid black
                width: 100%
            padding: 10px
            width: 60%
            border: 1px solid black
            padding-top: 30px
        .course
            padding: 10px
            padding-top: 30px
            width: 40%
            border: 1px solid black
            .trainer
                margin: 5px
                margin-bottom: 25px
    &__carousel
        //margin-top: 3%
        width: 100%
        max-width: 100vw
        &-pane
            .title
                span
                    color: black
                    //font-size: 30px
                    font-weight: 800 !important
                width: 100%
                border-bottom: 1px solid black
                height: 48px
                display: flex
                justify-content: flex-start
                font-size: 28px
                color: #5a5a5ac9
            .date
                font-size: 28px
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            .trainer
                height: 50px
                display: flex
                align-items: center
                padding-left: 30px
                font-size: 30px
                border-bottom: 1px solid black
            //background: #694e4e
            //width: 90%
            height: 100%
            display: flex 
            flex-direction: column
            justify-content: space-between
            padding: 20px
            min-height: 300px
        .slick-slide
            text-align: center;
            min-height: 180px;
            //line-height: 180px;
            border: 1px solid black
            //background: #364d79;
            overflow: hidden;