$PICTON_BLUE : #50ABE3;
$SUNNY  : #405D9D;
$CELESTIAL_BLUE : #4A96D4;
$YELLOW : #F6CF08;
$LIGHT_DARKER : rgba(3, 3, 3, 0.03);
$LIGHT_YELLOW : #FFF3B8;
$SILVER_SAND : #C4C4C4;
$RED_MUNSEL : #EC0B43;

$AQUA_L : #82FBD3;
$AQUA_D : #5CE2AF;
$BLUE : #2B59A1;
$SKIN_L : #FFDFBF;
$SKIN_D : #FDCB98;
$ORANGE : #F77E02;

