@import "global/colors.scss"


.registerPage
    display: flex
    justify-content: center
    align-items: center
    background-color: $YELLOW

    .registerFormContainer
        display: flex
        justify-content: center
        //align-items: center
        flex-direction: column