@import "global/colors.scss"
.header
    padding: 0px 2%
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px
    width: 100%
    background-color: $BLUE
    //background-color: $BLUE
    //background-color: $PICTON_BLUE
    .left
        height: 100%
        width: 230px

        //border: 1px solid black
        display: flex
        align-items: center
        justify-content: space-between
        .info
            color: #e4e4e4;
            font-weight: 600
            font-size: 18px
    .right
        display: flex
        align-items: center
        justify-content: space-between
        height: 100%
        width: 200px

    &__info
        display: flex
        &>div
            margin: 5px