@import "global/colors.scss"

.loadingContainer
    display: flex
    flex-direction: column
    .spin
        flex: auto
        display: flex
        justify-content: center
        align-items: center

.studentPage
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

    border: 1px solid black
    &__top
        display: flex
        margin: 5px
        border: 1px solid black
        height: 100%
        .card
            width: 40%
        .progress
            padding: 60px
            width: 60%
            display: flex
            font-size: 20px
            //align-items: center
            justify-content: space-between
            flex-direction: column
    &__main
        border: 1px solid black
        margin: 5px
        height: 100%
        flex: 1
        display: flex
        .tasklist
            overflow-y: scroll
            border: 1px solid black
            width: 40%
            margin: 5px
            .taskItem
                &_active
                    background-color: #6c945a91
                &:hover
                    background-color: #93945a79
                cursor: pointer
                display: flex
                flex-direction: column
                min-height: 100px
                border: 1px solid black
                font-size: 15px
                margin: 10px 20px
                &__title
                    border: 1px solid black
                    width: 100%
                    padding: 5px 10px
                    font-size: 17px
                    font-weight: 800
                &__description
                    border: 1px solid black
                    flex: 1
                    padding: 5px 10px
                    font-size: 16px
        .selectedTask
            border: 1px solid black
            width: 70%
            margin: 5px
