@import '~antd/dist/antd.css';

.appContainer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pageContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.alertContainer {
    position: absolute;
    min-height: 100px;
    min-width: 400px;
    z-index: 150;
    margin-bottom: 35%;
}